/* CUSTOM FONTS */
@font-face {
  font-family: Centra;
  src: url('./assets//font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets//font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets//font/CentraNo2-Bold.ttf');
  font-weight: 700;
}


/********* DEFAULT CSS *********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal; 
}


/********* NAVBAR CSS *********/

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: 0.5s ease-in-out;
}

nav.navbar.scrolled {
  padding: 5px;
  background-color: #121212;
}

nav.navbar a.navbar-brand {
  width: 9%;
}

nav.navbar a.navbar-brand img {
  width: 80px;
}

nav.navbar .navbar-nav a.nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 1.2rem;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icons {
  display: inline-block;
  margin-left: 14px;
}

.social-icons a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
} 

.social-icons a::before {
  content: '';
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icons a:hover::before {
  transform: scale(1);
}

.social-icons a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 1rem;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #ffffff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #121212;
}

.navbar-text button:hover::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.nacbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icons:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon::after,
nav.navbar .navbar-toggler-icon::before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

@media (max-width: 992px) {

  nav.navbar .navbar-collapse .navbar-link {
    padding: 0;
    text-align: right;
  }
  
  nav.navbar .navbar-collapse .social-icons {
    justify-content: end;
    
  }
  
  nav.navbar .navbar-collapse .social-icons a {
    margin-right: 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
    
  }
  
  nav.navbar .navbar-collapse span.navbar-text {
    align-items: end;
  }
  
  nav.navbar .navbar-collapse .navbar-text button {
    padding: 18px 25px;
  } 

}  




/********* HERO CSS *********/

.hero {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  /* background-image: url('./assets/img/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; */
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-content {
  position: relative;
  z-index: 500;
}

.hero .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(49, 112, 152, 0.5) -5.91%, rgba(16, 97, 113, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5); 
  font-size: 1.2rem;
  margin-bottom: 16px;
  display: inline-block;

}

.hero .name {
  font-size: 5rem;
}

.hero .text-phrase {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  z-index: 500;
}

.hero p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  margin-top: 50px;
}
.hero button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
}
.hero button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.hero button:hover svg {
  margin-left: 50px;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

.text-phrases {
  position: relative;
  height: 50px;
}

.text-phrase {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.75s ease-in;
}

.text-phrase.fadeIn {
  opacity: 1;
}

.text-phrase.fadeOut {
  opacity: 0;
}


/********* HERO BACKGROUND CSS ********/



/********* HERO ANIMATION CSS *********/


.hero-animation-container {
  position: relative;
  width: 100%;
  bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.circleVector1, .circleVector2, .circleVector3 {
  position: absolute;
  /* mix-blend-mode:add; */
  scale: 500%;
  z-index: 0;
  opacity: 0.5;
}

.circleVector1 {
  animation: rotateA 40s linear infinite;


  filter: blur(4px);
}

.circleVector2 {
  animation: rotateB 20s linear infinite;

  filter: blur(3px);
}

.circleVector3 {
  animation: rotateC 60s linear infinite;

  filter: blur(2px);

}

@keyframes rotateA {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateB {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateC {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}



/********* JOURNEY CSS *********/

.journey {
  margin: 180px auto;
  --_button-size: 3rem;
  --_panel-padding: 0.2rem;
  --_panel-gap: 0.5rem;
}

.journey-title h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  
  display: block;
  position: relative;
  top:0;
  right: 0;
}

.journey-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  contain: content;
  /* demo only */
  margin-top: 1rem;
  
}

/* changes journey panels to vertical configuration  */
@media (min-width: 45em) {
  .journey-container {
    flex-direction: row;
    height: 30rem;
  }

}

.journey-panel {
  isolation: isolate;
  flex-basis: calc((var(--_panel-padding) * 2) + var(--_button-size));
  overflow: hidden;
  padding: var(--_panel-padding);
  padding-right: calc(var(--_panel-padding) * 4);
  border-radius: calc(((var(--_panel-padding) * 8) + var(--_button-size)) / 8);
  background: white;
}

.panel1 {
  
  background: rgb(255, 239, 136);

}

.journey-content {
  opacity: 0;
  transition: opacity 500ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#panel1-content {
  width: 100%;
}

.journey-content:has([aria-expanded="true"]) {
  opacity: 1;
  transition: opacity 500ms;

}

/* user may have settings for reducing animated motion on their device */
@media (prefers-reduced-motion: no-preference) {
  .journey-panel {
    transition: flex-basis 500ms, flex-grow 500ms;
  }
}

.journey-panel:has([aria-expanded="true"]) {
  flex-basis: clamp(15rem, 40vh, 20rem);
  flex-grow: 1;

}

.journey-trigger {
  outline: 0;

}

.journey-panel:focus-within {
  outline: 3px solid var(--_panel-color);
  outline-offset: 4px;
}

.journey-content > p {
  transform: translateY(2rem);
  opacity: 0;
  /* margin-left: calc(var(--_button-size) + var(--_panel-gap)); */
}

.journey h2 {
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .journey-panel:has([aria-expanded="true"]) .journey-content > p {
  transition: transform 500ms 500ms, opacity 500ms 500ms;
  }

}

.journey-panel:has([aria-expanded="true"]) .journey-content > p {
  transform: translateY(0);
  opacity: 1;

}

.journey-title {
  margin-bottom: 60px;
  text-align: right;
}

@media (max-width: 44.999em) {
  .journey-title::after {
    content: "";
    position: absolute;
    left: calc((var(--_panel-gap) + var(--_button-size)) * -1);
    width: calc(100% + (var(--_button-size) * 2));
    height: var(--_button-size);
    background: hsl(0 0% 0% / 0.2);
    z-index: -1;

  }
}

.img-soapsoup {
  width: 50%;
  margin: 0 auto;
}

.img-soc {
  width: 50%;



}

.journey-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: filter 500ms;

}

.journey-panel:has([aria-expanded="true"]) .journey-image {
  filter: brightness(0.5);
}

.journey-trigger {
  display: flex;
  align-items: center;
  gap: var(--_panel-gap);
  flex-direction: row-reverse;
  background: transparent;
  border: 0;
  padding: 0;

}



/********* SKILLS CSS *********/

.skills-container {
  margin: 180px auto;
  
}

.skills-row {

  margin: 0 auto;
}

.skills-header h1 {
  margin-bottom: 60px;
  font-size: 4rem;
}

.skills-content {
  overflow-x: scroll;
  display: flex;

}

.skills-slider {
  display: flex;
}

.skill {

}

.skills img {
  margin: 0;
  padding: 0;
}

/* .skill:hover {
  scale: 1.5;
  transform-origin: center;
  transition: rubberBand ;
} */


.skill:hover {
  
  -webkit-animation-name: boing;
  animation-name: boing;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }

@-webkit-keyframes boing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  5% {
    -webkit-transform: scale(1.55);
    transform: scale(1.55);
  }
  20% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  30% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
  40% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
  50% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  60% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  70% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(0.68);
    transform: scale(0.98);
  }
  90% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
  -webkit-transform: scale(1);
  transform: scale(1);
  }
  }
  @keyframes boing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  5% {
    -webkit-transform: scale(1.55);
    transform: scale(1.55);
  }
  20% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  30% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
  40% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
  50% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  60% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  70% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(0.68);
    transform: scale(0.98);
  }
  90% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
  -webkit-transform: scale(1);
  transform: scale(1);
  }
  }